<?xml version="1.0" encoding="utf-8"?><configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Rocket.API" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.3.5" newVersion="4.9.3.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Rocket.Core" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.3.5" newVersion="4.9.3.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>