<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net471" />
  <package id="MonoModReorg.Backports" version="23.3.22.1" targetFramework="net471" />
  <package id="MonoModReorg.Core" version="23.3.22.1" targetFramework="net471" />
  <package id="MonoModReorg.ILHelpers" version="23.3.22.1" targetFramework="net471" />
  <package id="MonoModReorg.Utils" version="23.3.22.1" targetFramework="net471" />
  <package id="OpenMod.UnityEngine.Redist" version="2019.4.10" targetFramework="net471" />
  <package id="OpenMod.Unturned.Redist" version="3.22.8.1" targetFramework="net471" />
  <package id="RocketMod.Modern.Dependencies" version="1.1.2.5" targetFramework="net471" />
</packages>